*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:link{
    text-decoration: solid;
    color: inherit;
}
a:visited{
    color: inherit;
}

.android{
    margin-left: 3.1%;
}

body{
    margin: 0px;
}
html {
    min-height: 100%;
    background-image: url(imgS/fundoRoxo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }
 
.containerCenter{
    width: auto;
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 2%;
}   

.center{
    width: 300px;
    height: 440px;
    background: #4a1dff8f;
    border-width: 3px;
    transition: 1s;
    border-radius: 5%;
}

.center:hover{
    transform: scale(1.12);
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}

.centertitlecontacs{
    text-align: center; 
    margin-top: 5%;
    
}

.centertitlelanguage{
    text-align: center;
    margin-top: 15%
}

dt{
    margin: 5%;
}


/* lucasmeyer{
    position: relative;
    font-size: 3em;
    color: #000;
}

.lucasmeyer::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2.5px solid #fff;
    animation: teste 5s linear infinite;
}

@keyframes teste{
    0%,10%,100%{
        width: 0%;
    }
    70%, 90%{
        width: 100%;
    }
}*/
